/* documento */
html {
    font-family: arial;
    font-size: 12px;
}

/* especificaciones caja uno */
.cajauno {
    background-color: #92C1DD;
    width: 350px;
    height: 900px;
    float: left;
    margin-right: 10px;
}

/* especificaciones imagen perfil */
.fotoperfil {
    margin-left: 20px;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    filter: drop-shadow(6px 5px 6px rgba(0, 0, 0, 0.36));
    border: 1px solid #000000;
}

/*  especificaciones texto caja 1 */
.datpersonal {
    text-align: center;
}

h1.datpersonal {
    font-weight: bold;
    font-size: 30px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    border-bottom: 1px solid;
    background: #4B4F82;
}

/* especificaciones caja 2 */
.cajados {
    background-color: #F1F2EB;
    width: 800px;
    height: 370px;
    margin-right: 10px;
    float: left;

}

/*  especificaciones texto caja 2 */

.explaboral {
    margin-left: 10px;
    margin-right: 10px;
}

h3.explaboral {
    line-height: 7px;
}

span {
    font-weight: bold;
}

p.explaboral {
    text-align: justify;
}


/* especificaciones caja 3 */
.cajatres {
    background-color: #F1F2EB;
    width: 800px;
    height: 220px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}

/*  especificaciones texto caja 3 */

.formacion {
    margin-left: 10px;
    margin-right: 10px;
}

p.formacion {
    line-height: 7px;
}

/* especificaciones caja 4 */
.cajacuatro {
    background-color: #F1F2EB;
    width: 800px;
    height: 290px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
}

/*  especificaciones texto caja 4 */
.formulario {
    margin-left: 10px;
    margin-right: 10px;
}

/*  formulario*/

form {
    font-family: poppins;
    width: 400px;
    border-radius: 10px;
    column-count: 2;
     display: inline-block;
    
      }

label {
    font-family: poppins;
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: black;
    display: block;
    margin: 5px;
    padding: 5px;

}

input {
    font-family: poppins;
    font-size: 10px;
    display: block;
    color: black;
    margin: 5px;
    padding: 5px;
    }

textarea {
    font-family: poppins;
    font-size: 10px;
    margin-top: 5px;
            
}

.formulario input[type="submit"] {
    border-radius: 5px;
    background-color: #e3627f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 265px;
    


        
}


