<h2> Hola soy la página de Galería</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci, magnam esse quidem, voluptas quibusdam labore, eius recusandae est nisi ipsa eum rerum dolorem! Est quis nobis architecto doloribus fugiat.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci, magnam esse quidem, voluptas quibusdam labore, eius recusandae est nisi ipsa eum rerum dolorem! Est quis nobis architecto doloribus fugiat.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci, magnam esse quidem, voluptas quibusdam labore, eius recusandae est nisi ipsa eum rerum dolorem! Est quis nobis architecto doloribus fugiat.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci, magnam esse quidem, voluptas quibusdam labore, eius recusandae est nisi ipsa eum rerum dolorem! Est quis nobis architecto doloribus fugiat.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo adipisci, magnam esse quidem, voluptas quibusdam labore, eius recusandae est nisi ipsa eum rerum dolorem! Est quis nobis architecto doloribus fugiat.</p>