
<h2>Hola soy la página de Indez</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ipsa saepe provident, eum voluptas facere odio nobis fuga beatae incidunt similique illum, itaque tenetur sint. Explicabo aspernatur voluptatum quibusdam rem.</p>
